.details-table-container {
    /* margin: 30px auto; */
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 24px;
}

.details-table-title {
    font-family: 'ITCAvantG' !important;
    color: #626469;
    margin-bottom: 10px !important;
    font-size: 20px !important;
}

.details-table-paper {
    background-color: #f9fafb !important;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: none !important;
}

.details-table-paper .MuiTable-root {
    border-collapse: separate;
    border-spacing: 0 8px;
}

.details-table-paper .MuiTableRow-root {
    box-shadow: 0px 4px 4px 0px #ACACAC40;
    border-radius: 8px;
}

.details-table-head .MuiTableCell-root {
    background-color: #F4F6F8;
    color: #595959;
    font-family: 'LLCirc';
    border-bottom: none;
    font-size: 16px;
    font-weight: 450;
    text-align: center;
}


.details-table-paper .MuiTableBody-root .MuiTableCell-root {
    font-family: 'LLCirc' !important;
    font-weight: 450 !important;
    font-size: 16px !important;
    background-color: #ffffff;
    border-bottom: none;
    color: #595959;
    text-align: center;
}
.details-table-head .MuiTableCell-root:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.details-table-head .MuiTableCell-root:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.details-table-paper .MuiTableBody-root .MuiTableCell-root:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.details-table-paper .MuiTableBody-root .MuiTableCell-root:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}



