.user-search-container {
  display: flex;
  flex-direction: column;
  /* margin-right: 24px; */
  margin-top: 20px;
  gap: 20px;
}

.employee-id-field .MuiInputBase-input {
  color: #4C4E54 !important;
}

.employee-id-field .MuiInputBase-root {
  height: 40px;
  border-radius: 8px;
  width: 100%;
  font-family: 'LLCirc' !important;
  font-weight: 100 !important;
}

.employee-id-field .MuiInputBase-input::placeholder {
  font-family: 'LLCirc' !important;
  font-weight: 100 !important;
  color: #8F9094;
  opacity: 1;
}

.employee-id-field .MuiOutlinedInput-notchedOutline {
  border: 1px solid #77CBEB !important;
}

.employee-id-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #77CBEB !important;
}

.employee-id-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #77CBEB !important;
  border-width: 1px !important;
}

.employee-id-field .MuiInputLabel-root {
  top: -4px;
  font-family: 'LLCirc' !important;
  font-weight: 100 !important;
  color: #4C4E54;
}

.employee-id-field .MuiInputLabel-root.Mui-focused {
    color: #4C4E54 !important;
}

.search-button {
  background-color: #1CA8DD !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  font-family: 'LLCirc' !important;
  font-weight: 100 !important;
  text-transform: capitalize !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  height: 40px !important;
  font-size: 16px !important;
  margin-bottom: 5px !important;
} 

.total-medical-limit {
  font-family: 'LLCirc' !important;
  font-weight: 100 !important;
  font-size: 20px !important;
      color: #4C4E54 !important;

}

.user-not-found-message {
  color: #4C4E54 !important;
  font-family: 'LLCirc' !important;
  font-weight: 100 !important;
  font-size: 24px !important;
}
