.add-employee-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 28px;
    border-radius: 8px;
    text-align: center;
}

.popup-title-add-employee {
    margin-bottom: 24px !important;
    font-weight: 400 !important;
    font-family: 'LLCirc' !important;
    font-size: 26px !important;
    color: #4C4E54 !important;
}

.employee-details {
    /* margin-bottom: 24px; */
    text-align: left;
    border: none !important;
}

.employee-details p {
    margin-bottom: 8px;
}

.add-another-employee-btn {
    margin-top: 16px !important;
    text-transform: capitalize !important;
    box-shadow: none !important;
    background-color: #1CA8DD !important;
    font-family: 'LLCirc' !important;
    font-size: 15px !important;
    font-weight: 100 !important;
}

.close-button {
    position: absolute !important;
    right: 16px;
    top: 8px;
} 

.employee-details-text {
    font-weight: 100 !important;
    font-family: 'LLCirc' !important;
    font-size: 16px !important;
    color: #4C4E54 !important;
}

.employee-details-label {
    font-weight: 400 !important;
    font-family: 'LLCirc' !important;
    color: #4C4E54 !important
}