.user-profile-container {
  background-color: #f9f9f9;
  padding-left: 0px !important;
}

/* Reusing component styles for ProfileTable, no extra styles needed if ProfileTable.css is globally available */

.change-password-container {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 24px; */
  }
  
.change-password-button {
  background-color: #1CA8DD !important;
  color: white;
  border: none;
  padding: 8px 16px !important;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px !important;
  font-family: 'LLCirc' !important;
  box-shadow: none !important;
  font-weight: 450 !important;
  text-transform: none !important;
  
}
  
  .change-password-button:hover {
    background-color: #178db8;
  }
