.admin-buttons-container {
    display: flex;
    gap: 16px;
}

.decline-button {
    width: 120px !important;
    height: 40px !important;
    border-radius: 4px !important;
    padding: 8px 24px !important;
    background-color: #ff3535 !important;
    color: white !important;
    font-size: 14px !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-family: 'LLCirc' !important;
}

.decline-button .MuiSvgIcon-root {
    color: white !important;
}

.accept-button {
    width: 120px !important;
    height: 40px !important;
    border-radius: 4px !important;
    padding: 8px 24px !important;
    border: 1px solid #1CA8DD !important;
    background-color: #1CA8DD !important;
    color: white !important;
    font-size: 14px !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-family: 'LLCirc' !important;
}

.accept-button .MuiSvgIcon-root {
    color: white !important;
} 

.editing-button {
    width: 200px !important;
    height: 40px !important;
    border-radius: 4px !important;
    padding: 8px 24px !important;
    border: 1px solid #E59300 !important;
    background-color: #E59300 !important;
    color: white !important;
    font-size: 14px !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-family: 'LLCirc' !important;
}

.edit-button .MuiSvgIcon-root {
    color: white !important;
} 