.user-search-container {
  display: flex;
  flex-direction: column;
  /* margin: 20px auto; */
  margin-left: 20px;
  margin-right: 24px;
  margin-top: 20px;
  gap: 20px;
}

.employee-id-field .MuiInputBase-root {
  height: 40px;
  border-radius: 6px;
  width: 100%;
  font-family: 'LLCirc' !important;
  font-weight: 450 !important;
}

.employee-id-field .MuiOutlinedInput-notchedOutline {
  border: 1px solid #797A7F !important;
}

.employee-id-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #797A7F !important;
}

.employee-id-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #797A7F !important;
  border-width: 1px !important;
}

.employee-id-field .MuiInputLabel-root {
  top: -7px;
  font-family: 'LLCirc' !important;
  font-weight: 450 !important;
  color: #797A7F;
}

.employee-id-field .MuiInputLabel-root.Mui-focused {
    color: #797A7F !important;
}

.search-button {
  background-color: #1CA8DD !important;
  box-shadow: none !important;
  border-radius: 6px !important;
  font-family: 'LLCirc' !important;
  font-weight: 450 !important;
  margin-bottom: 30px !important;
} 