.view-more-container {
    display: flex;
    background-color: #F8F9FA;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
}

.left-panel,
.right-panel {
    flex: 1;
    background-color: #F8F9FA;
    padding: 10px;
    overflow-y: auto;
}

.view-more-header {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    border-bottom: solid 1px #E9E9EA;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

@media (max-width: 768px) {
    .view-more-container {
        height: auto;
        overflow-y: auto;
    }

    .left-panel,
    .right-panel {
        flex: 1 1 100%;
        height: auto;
    }
    .view-more-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .admin-buttons-container {
        flex-wrap: wrap;
    }
}


/* Buttons Styling */

.admin-buttons-container {
    align-items: center;
    display: flex;
    gap: 16px;
}

@media (max-width: 1024px) {
    .admin-buttons-container {
        flex-wrap: wrap;
        max-width: 450px;
        justify-content: flex-end;
    }
}


.decline-button {
    width: 100% !important;
    max-width: 120px !important;
    height: 40px !important;
    border-radius: 4px !important;
    padding: 8px 24px !important;
    background-color: #ff4949 !important;
    color: white !important;
    font-size: 13px !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-family: 'LLCirc' !important;
}

.decline-button .MuiSvgIcon-root {
    color: white !important;
}

.accept-button {
    width: 100% !important;
    max-width: 120px !important;
    height: 40px !important;
    border-radius: 4px !important;
    padding: 8px 24px !important;
    border: 1px solid #1CA8DD !important;
    background-color: #1CA8DD !important;
    color: white !important;
    font-size: 13px !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-family: 'LLCirc' !important;
}

.download-button{
    width: 100% !important;
    min-width: 200px !important;
    max-width: 200px !important;
    height: 40px !important;
    border-radius: 4px !important;
    padding: 8px 24px !important;
    border: 1px solid #1CA8DD !important;
    background-color: #1CA8DD !important;
    color: white !important;
    font-size: 13px !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-family: 'LLCirc' !important;
}

.download-button .MuiSvgIcon-root {
    color: white !important;
} 

.accept-button .MuiSvgIcon-root {
    color: white !important;
} 

.editing-button {
    width: 100% !important;
    min-width: 200px !important;
    max-width: 200px !important;
    height: 40px !important;
    border-radius: 4px !important;
    padding: 8px 24px !important;
    background-color: #e79d19 !important;
    color: white !important;
    font-size: 13px !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-family: 'LLCirc' !important;
}

.editing-button .MuiSvgIcon-root {
    color: white !important;
} 