@import '../../index.css';

.user-title-container {
    font-family: 'ITCAvantG', sans-serif !important;
    margin-bottom: 0;
}

.main-text {
    font-size: 24px;
    color: #1F2229;
    margin: 0 0 4px 0;
    font-weight: 500;
}

.sub-text {
    font-size: 18px;
    color: #35383E;
    margin: 0;
    font-weight: 100;
}