.user-title-container {
    font-family: 'ITCAvantG', sans-serif;
    margin: 10px 0px
}

.main-text {
    font-size: 24px;
    color: #1F2229;
    font-weight: 500;
}

.sub-text {
    font-size: 18px;
    color: #35383E;
    font-weight: 300;
}