@import '../../index.css';

.new-request-container {
    background-color: #f9fafb;
    width: 100%;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: 'LLCirc' !important;
    font-weight: 100 !important;
}

.form-section {
    flex: 1;
}

.preview-section {
    flex: 1;
}

.form-actions-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer-note {
    font-size: 12px;
    color: #626469;
    text-align: left;
}

.footer-note .asterisk {
    color: #D96758;
}

@media (max-width: 768px) {
    .main-body {
        flex-direction: column-reverse;
    }
}