.popup-title {
    background-color: #f4f4f4;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'ITCAvantG' !important;
    font-weight: 500 !important;
    color: #4C4E54;
    margin-bottom: 0 !important;
    padding: 20px 0px 10px 20px !important;
    font-size: 24px !important;
}

.close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    color: grey;
}

.popup-actions {
    display: flex;
    justify-content: center !important;
    flex-direction: row;
}



