.change-password-dialog .MuiOutlinedInput-root {
    border-radius: 8px;
}
  
.change-password-dialog .MuiPaper-root {
    padding-bottom: 10px !important;
}

.change-password-dialog .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border: 1px solid #77CBEB;
}
  
.change-password-dialog .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: 1px solid #77CBEB;
}
  
.change-password-dialog .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1px solid #77CBEB;
}
  
.change-password-dialog .MuiInputBase-input {
    padding: 10px 16px;
    font-family: 'LLCirc';
    font-weight: 100 !important;
    color: #4C4E54;
}

.new-password-field {
    margin-bottom: 15px !important;
}

.new-password-field:last-of-type {
    margin-bottom: 0 !important;
}
  
.change-password-dialog .MuiInputLabel-root {
    color: #4C4E54;
    font-family: 'LLCirc';
    font-weight: 100 !important;
}
  
.change-password-dialog .MuiInputLabel-root.Mui-focused {
    color: #4C4E54;
}

.change-password-title {
    font-family: 'ITCAvantG' !important;
    font-size: 20px !important;
    font-weight: 500;
    color: #4C4E54;
    padding-bottom: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
} 

.MuiDialogContent-root {
    border: none !important;
}