.change-password-dialog .MuiOutlinedInput-root {
    border-radius: 8px;
    height: 45px;
}

.change-password-dialog .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border: 1px solid #77CBEB;
}
  
.change-password-dialog .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: 1px solid #77CBEB;
}
  
.change-password-dialog .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1px solid #77CBEB;
}
  
.change-password-dialog .MuiInputBase-input {
    font-family: 'LLCirc';
    font-weight: 100 !important;
    color: #4C4E54;
}
  
.change-password-dialog .MuiInputLabel-root {
    color: #4C4E54;
    font-family: 'LLCirc';
    font-weight: 100 !important;
}
  
.change-password-dialog .MuiInputLabel-root.Mui-focused {
    color: #4C4E54;
}

.change-password-dialog .new-password-field {
    margin-top: 10px;
    margin-bottom: 10px;
}
